
$base-font-size:13px;
$base-font-family:PingFangSC-light,microsoft yahei , Arial , sans-serif;
$Semiboldfamily:PingFangSC-Semibold,microsoft yahei bold;

$mune-color:#163b65;
$font-color:#4a4a4a;
$placeholder-color:#c7c7c7;
$mune-border:1px solid #cedde9;
$input-border:1px solid #cbdde9;
$mune-icon-padding:0 12px 0 18px;
$header-height:54px;